$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);

.App {
  text-align: center;
  background-color: #27282b;
  display: flex;
  font-family: 'Tenor Sans', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App canvas{
  height: 100vh;
}
.App .container{
  width: 100vw;
  position: absolute;
  top: 90%;
  left: 35%;
  transform: translate(-50%, -50%);
} 
.App .container span{
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
  color: #fff;
  /* text-shadow: #0d94ee 2px 2px; */
  font-size: 6rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #25abe8 10%, #212f6f 50%, #25abe8 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
}
.Content{
  width: 75vw;
  height: 100vh;
}
.Login{
  width: 25vw;
  height: 100vh;
  overflow: hidden;
  background-color: #AEECEF;
  position: relative;
}
.content_login{
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  width: 25vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15vw;
  transform: translate(-50%, -50%);
  &::before, &::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  &::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba($blueQueen, 0.15);
    animation: wawes 6s linear infinite;
    // @include animation(wawes 6s infinite linear);
  }
  &::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba($greenSeaweed, 0.2);
    animation: wawes 7s  infinite;
    // @include animation(wawes 7s infinite);
  }
}
.content_login form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.content_login form input{
    display: block;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
    border-bottom:  solid 1px transparent; 
}
.content_login form input:focus {
  border-bottom:  solid 1px blue; 
  outline: 0; 
  box-shadow:  0 2px 6px -8px rgba(blue, .45);
}
.content_login form button{
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 100px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    background-color: $redFire;
    transition: all .5s;
    &:hover {
      background-color: darken($redFire, 5%);
    }
}
.content_login form button:hover {
  transform:  translateY(-3px);
  box-shadow:  0 2px 6px -1px rgba(#25abe8 , .65);
  }
.content_login form button:hover:active {
  transform:  scale(.99);
}
.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  span{
    color:#fff;
    background-color: transparent;
    margin: 20px 0;
    text-transform: uppercase;
  }
}

.loading-bar-container {
  width: 200px;
  height: 32px;
  background: #272727;
}

.loading-bar {
  height: 32px;
  background: #f15946;
}
@media only screen and (max-width: 768px) {
  .Login{
    display: none;
  }
  .Content{
    width: 100vw;
  }
  .App .container{
    left: 50%;
    span{
      font-size: 3rem;
    }
  }
}


@keyframes wawes {
  from { transform: rotate(0); }
  to {  transform: rotate(360deg); }
}

@keyframes textclip {
      to {
          background-position: 200% center;
      }
  }
::selection{
  background-color: transparent;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
